<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />

    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
      async
    ></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <section>
      <!-- show content -->
      {{ content }}
      <!-- show tags -->
      <div class="post-tags">
        {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags =
        page.tags %} {% endif %} {% for tag in tags %}
        <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
      </div>
    </section>
    <footer>
      <div>
        {% bibliography --cited %}
      </div>
      &copy; to me
    </footer>
  </body>
</html>
