<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />

    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
      async
    ></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <section>
      {{ content }}
    </br>
        {% for tag in page.tags %}
            #{{tag}}
        {% endfor %}

        {% bibliography --cited %}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
